@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/xilosa');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    position: sticky; /* fixa o elemento em determinado limite */
    top: 0; /* fixa no topo da página */
    z-index: 1000;
    background-color: #3B1F11;
    justify-content: center;
    align-items: center;
}

/* dimensões da logo na navbar */
header .logo img{
    height: 110px;
    width: 110px;
}


header #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* faz o conteúdo ocupar um box inteiro do flex-box */
}

/* estilização da lista de links na navbar */
header #navbar #nav-list{
    align-items: center;
    display: flex;
    list-style: none;
    margin-left: -100px;
    gap: 48px;
}

/* estilização dos itens da lista */
#nav-list .nav-item {
    transition: transform 0.2s ease-in-out;
}

#nav-list .nav-item:hover {
    transform: scale(1.02); /* aumentar o tamanho */
}

/* estilização dos links no navbar */
#nav-list .nav-item a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

#nav-list .nav-item a:hover {
    color: #FFD34E;
    text-decoration: underline;
    transition: color 0.5s; /* transição de cor */
}

/* excluindo o botão em relsoluções acima de 600px*/
#bt-mobile{
    display: none;
}

#mobile-menu{
    display: none;
}

#mobile-menu.hidden{
    display: block;
}

/* point break do navbar para mobile */
@media screen and (max-width: 900px){
    
    #nav-list .nav-item{
        display: none; /* exclui os links */
    }


    /* adiciona o botão de lista */
    #bt-mobile{
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
    }

    #bt-mobile:hover {
        color: #FED34F;
    }
}