@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/xilosa');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
}

header{
    display: flex;
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: rgb(95, 38, 0);
    z-index: 3;
    justify-content: center;
    align-items: center;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#nav-list{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.nav-item a:hover {
    color: #FFD34E;
    text-decoration: underline;
    transition: color 0.5s;
}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

#bt-mobile{
    display: none;
}
#mobile-menu{
    display: none;
}

@media screen and (max-width: 600px){
    
    #nav-list{
        display: none;

    }    
    #bt-mobile{
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
}