#home{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../imagens/pure2.jpg);
    background-size: cover;
}

#texto_home .title{
    color: orange;
    font-size: 6rem;
    font-family: Xilosa;
    margin-bottom: 30px;

}

#texto_home .title span{
    color: #F26938;
    font-family: Xilosa;
}

#texto_home .description{
    font-size: 1.7rem;
    color: white;
    max-width: 1250px;
    margin: auto;
}

.imagem-descricao{
    flex: 1;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px){
    #home{
        min-height: 100%;
        padding-top: 0px;
    }

    #texto_home{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #texto_home .title{
        font-size: 4rem;
        font-family: Xilosa;
    }

    #texto_home .title span {
        color: rgb(253, 107, 54);
    }

    #texto_home .description{
        font-size: 1.5rem;
    }
}