#home{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../imagens/pure2.jpg);
    background-size: cover;
}

#cta .title{
    color: orange;
    font-size: 7rem;
    font-family: Xilosa;
    margin-bottom: 30px;

}

#cta .title span{
    color: #F26938;
    font-family: Xilosa;
}

#cta .description{
    font-size: 1.7rem;
    color: white;
    max-width: 1250px;
}

#cta_buttons{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.btn-default a {
    text-decoration: none;
}

#menu {
    background-color: #3B1F11;
}

@media (max-width: 900px) {
    
}

@media (max-width: 600px){
    #home{
        min-height: 100%;
        padding-top: 0px;
    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #cta .title{
        font-size: 4rem;
        font-family: Xilosa;
    }

    #cta .title span {
        color: rgb(253, 107, 54);
    }

    #cta .description{
        font-size: 1.2rem;
    }
}