@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/xilosa');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* rolagem suave */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh
}

html, body {
    width: 100%;
}

/* todas as tags herdam a estilação */
*{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;   
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #f0f8ff;
}

/* todas as section recebem o padding */
section{
    padding: 28px 8%;
}

.social-media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

/* estilização dos links de rede social */
.social-media a{
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}


.social-media a:hover{
    box-shadow: 0px 0px 12px 2px rgb(198, 198, 198);
}

.nossas-redes{
    margin-top: 20px;
}

/* estilização do conheça nossa história */
.mix-arretado{
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.mix-arretado img {
    flex: 1;
}

.mix-arretado h1{
    margin-bottom: 20px;
    font-size: 2rem;
}

#contato-mix{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    gap: 3rem;
}

.mapa{
   height: 40vh;
   border-radius: 80px;
   padding: 50px;
}

footer {
    background-color: black;
    width: 100%;
}

footer p {
    color: #F0F8FF;
    text-align: center;
}

/* break points diversas resoluções (responsividade) */
@media (max-width: 1200px) {
    .mix-arretado {
        display: flex;
        flex-direction: column;
    }

    .imagem-descricao {
        width: 500px;
    }    
}

@media (max-width: 900px) {
    #contato-mix{
        flex-wrap: wrap;
    }
    
    .mapa{
        margin: auto;
    }
}

@media (max-width: 600px){
    .imagem-descricao{
        display: none;
    }
    .dados-sobre p{
        text-align: justify;
    }
    .dados-sobre h1 {
        margin: auto auto 20px auto;
    }
}